<div class="container inline-flex" >
    <div class="row gy-3" >
        <div class="col-md-4" *ngFor="let p of products">
            <div class="card" style="width: 18rem;">
                <img [src]="p.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.title}}</h5>
                  <p class="card-text">p.description</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{p.price}}</li>
                  <li class="list-group-item">{{p.rating}}</li>
                  <li class="list-group-item">{{p.brand}}</li>
                </ul>
              </div>
        </div>
    </div>
</div>
